<h1>Workforce</h1>
<h2>Log in</h2>

<%= form_with(scope: :session, url: login_path, local: true) do |form| %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit  "Log in"%>
  </div>

<%= link_to 'Sign up', signup_path %> |
<%= link_to 'Forgot your password?', organizations_path %>
<% end %>